input[type=file] {
    display: none;
}
label.custom-input-label {
    display: inline-block;
    cursor: pointer;
}

label.custom-input-label > img {
    width : 200px;
    float: left;
}

/*
schoolName regular-form-1 : 最終学校名
*/


.scrollHidden{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
