@charset "UTF-8";
/* 공통 */
.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.w-per100 {
  width: 50%;
}

.w-per50 {
  width: 50%;
}

.display-none {
  display: none;
}

.bg-orange {
  background: #FF9800;
}

.bg-danger {
  background: #E11D48;
}

.bg-green {
  background: #00C853;
}

.font-16 {
  font-size: 16px !important;
}

.h-48 {
  height: 48px !important;
}

.btn-lang {
  background: #DBEAFE;
  border-radius: 15px;
  width: 60px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #2563EB;
}
.btn-lang.orange {
  background: #FFF5E5;
  color: #ED8D00;
  border: none;
}
.btn-lang.gray {
  border-color: rgb(var(--color-secondary) / 0.7);
  background-color: rgb(var(--color-secondary) / 0.7);
  --tw-text-opacity: 1;
  color: rgb(var(--color-slate-500) / var(--tw-text-opacity));
}

.btn-business {
  background: #FF9800;
  border: 1px solid #ED8D00;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  color: #fff;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-outline-business {
  color: #FF9800;
  border: 1px solid #FF9800;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-gray-business {
  background: #E4E7EA;
  border: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #808386;
}

.btn-gray-type1 {
  background: #E4E7EA;
  border: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808386;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-business-white {
  background: #FDFEFF;
  color: #333333;
  border: 1px solid #A8ABAE;
  border-radius: 5px;
}

.btn-blue-type1 {
  background: #DBEAFE;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #3686FF;
}

.btn-blue-type2 {
  background: #FFFFFF;
  border: 1px solid #DBEAFE;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #72AAFF;
}

.btn-skyblue {
  background: #DBEAFE;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #3686FF;
}

.btn-skyblue2 {
  background: #DBEAFE;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #3686FF;
}

.btn-cancle-type1 {
  background: #FFFFFF;
  border: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  color: #808386;
}

.box-type-default {
  border: 1px solid #E2E8F0;
  -webkit-box-shadow: 0px 4px 6px -1px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 4px 6px -1px rgba(15, 23, 42, 0.08);
  border-radius: 10px;
  background: #fff;
}

.btn-line {
  width: 100%;
  background: #06C755;
  border-radius: 5px;
  color: #fff;
  padding: 12px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.btn-google {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D0D6D6;
  border-radius: 5px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

.btn-google > div{
  width: 100%;
}
.btn-google > div > iframe{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D0D6D6;
  border-radius: 5px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 12px 0;
}

.btn-kakao {
  width: 100%;
  background: #F9E000;
  border-radius: 5px;
  color: #371D1E;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 12px 0;
}

.btn-black {
  width: 100%;
  background: #333333;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 12px 0;
  color: #fff;
}

.search-box input {
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.drop-48 button {
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table .text-sm {
  font-size: 12px;
}
.table .complete {
  color: #A8ABAE;
}

.top-menu-login-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808386;
}

@media (max-width: 1024px) {
  .side-nav {
    display: none !important;
  }
}

.side-nav ul ul {
  padding: 15px 0 10px;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
  margin-bottom: 6px;
}
.side-nav ul ul .side-menu {
  height: 20px;
  margin-bottom: 6px !important;
  color: #808386;
}
.side-nav ul ul .side-menu:last-child {
  margin-bottom: 0;
}
.side-nav ul ul li a.side-menu--active .side-menu__title {
  color: #333333;
}

tr.table-content.open-table {
  display: none;
}
tr.table-content:hover td {
  background: none !important;
}

.notification-content {
  width: 404px;
}
.notification-content.orange .btn-blue-type1 {
  background: #FFF5E5;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  border: none;
  color: #FF9800;
}
.notification-content.orange .btn-blue-type2 {
  background: #FFFFFF;
  border: 1px solid #FFF5E5;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  border: none;
  color: #FF9800;
}
.notification-content.orange .noti-cont-btn svg {
  stroke: #808386;
}
.notification-content.orange .noti-btm {
  color: #A8ABAE;
}
.notification-content.orange .btn-seeall {
  background: #FF9800;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
}
.notification-content .noti-tit {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}
.notification-content .noti-tit-cont button {
  width: 80px;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.notification-content .noti-cont-box {
  padding: 10px 0;
  border-bottom: 1px solid #E4E7EA;
}
.notification-content .noti-cont-box .noti-cont-tit {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 4px;
}
.notification-content .noti-cont-box .noti-cont-subtit {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #808386;
  margin-bottom: 4px;
  text-align: left;
}
.notification-content .noti-cont-box .noti-cont-date {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #A8ABAE;
}
.notification-content .noti-btm {
  margin-top: 30px;
}
.notification-content .btn-seeall {
  height: 48px;
  background: #3686FF;
}

.dashboard-cont-tit {
  background: #F8FAFC;
  padding: 11px 16px;
}
.dashboard-cont-tit .dashboard-tit-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #64748B;
}
.dashboard-cont-cont {
  padding: 19px 20px 0 20px;
  gap: 16px;
}
.dashboard-cont-cont .dash-cont1-tit {
  color: #333;
  font-size: 16px;
  position: relative;
}
@media (max-width: 1024px) {
  .dashboard-cont-cont .dash-cont1-tit {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
  }
}
@media (max-width: 1024px) {
  .dashboard-cont-cont .dash-cont1-tit label {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    padding-left: 21px;
    position: relative;
  }
  .dashboard-cont-cont .dash-cont1-tit label:after {
    display: block;
    width: 12px;
    height: 9px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("/public/images/checkbox-type-off.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (max-width: 1024px) {
  .dashboard-cont-cont .dash-cont1-tit input {
    display: none;
  }
  .dashboard-cont-cont .dash-cont1-tit input:checked + label:after {
    background: url("/public/images/checkbox-type-on.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.dashboard-cont-cont .dash-cont1-tit:first-child {
  padding-right: 16px;
}
@media (max-width: 1024px) {
  .dashboard-cont-cont .dash-cont1-tit:first-child {
    padding-right: 10px;
  }
}
.dashboard-cont-cont .dash-cont1-tit:last-child {
  padding-left: 16px;
}
@media (max-width: 1024px) {
  .dashboard-cont-cont .dash-cont1-tit:last-child {
    padding-left: 10px;
  }
}
.dashboard-cont-cont .dash-cont1-tit:last-child:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background: #E4E7EA;
}
.dashboard-cont-cont .dash-cont-cont2 {
  width: 220px;
  gap: 3px;
}
.dashboard-cont-cont .progress-bar-tit {
  color: #A8ABAE;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
.dashboard-cont-cont .progress {
  background: #E4E7EA;
}
.dashboard-cont-cont .dash-cont-cont3 {
  gap: 10px;
  min-width: 303px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1024px) {
  .dashboard-cont-cont .dash-cont-cont3 {
    min-width: auto;
  }
}
.dashboard-cont-cont .dash-cont-cont3 button {
  width: 80px;
}
.dashboard-cont-cont .dash-cont-cont3 button.btn-auto {
  width: auto;
}
.dashboard-cont-cont .dash-cont-cont3 .btn-outline-secondary {
  color: #A8ABAE;
  border: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
}
.dashboard-cont-cont .cont-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #E2E8F0;
}
.dashboard-cont-cont .cont-btm-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 10px;
  padding-left: 20px;
}
.dashboard-cont-cont .cont-btm-arrow {
  height: 24px;
}
.dashboard-cont-cont .cont-btm-arrow svg {
  stroke: #A8ABAE;
}
.dashboard-cont .all-btn-wrap {
  padding: 20px;
  margin-bottom: 30px;
  gap: 10px;
}
.dashboard-cont .all-btn-wrap .btn {
  width: 100px;
  height: 28px;
}
.dashboard .mobile-dashboard {
  display: none;
}
@media (max-width: 1024px) {
  .dashboard .mobile-dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 16px;
  }
}
.dashboard .mobile-dashboard .mobile-top-btn-box button {
  width: 77px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.dashboard .mobile-dashboard .mobile-top-btn-box .btn-skyblue {
  background: #DBEAFE;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #3686FF;
}
.dashboard .mobile-dashboard .mobile-top-btn-box .check-btn-wrap .check-all input {
  display: none;
}
.dashboard .mobile-dashboard .mobile-top-btn-box .check-btn-wrap .check-all input:checked + label:after {
  background: url("/public/images/checkbox-type-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.dashboard .mobile-dashboard .mobile-top-btn-box .check-btn-wrap .check-all label {
  display: block;
  background: #FFFFFF;
  border: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 4px;
  padding: 14px 11px;
  width: 38px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: 100%;
  text-indent: -9999px;
  position: relative;
}
.dashboard .mobile-dashboard .mobile-top-btn-box .check-btn-wrap .check-all label:after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("/public/images/checkbox-type-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.dashboard .mobile-dashboard .mobile {
  padding: 20px;
}
.dashboard .mobile-dashboard .mobile .cont-btm {
  border-bottom: none;
}
.dashboard .mobile-dashboard .mobile .dash-cont-cont2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.dashboard .mobile-dashboard .mobile .dash-cont-cont2 .progress {
  width: 20px;
}
.dashboard .mobile-dashboard .mobile .dash-cont-cont3 button {
  width: 77px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border-radius: 10px;
}
.dashboard .mobile-dashboard .mobile .dash-cont-cont3 button.btn-auto {
  width: auto;
}
.dashboard .mobile-dashboard .mobile .dash-cont-cont3 .btn-outline-secondary {
  background: #fff;
  border-radius: 10px !important;
}
.dashboard .mobile-dashboard .compo-bg-gray .dashboard-cont-cont {
  background: #F4F4F4;
  border: 1px solid #F8FBFE;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dashboard .mobile-dashboard .compo-bg-gray .dashboard-cont-cont.checkBorder {
  border: 1px solid #3686FF;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dashboard .mobile-dashboard .compo-bg-white .dashboard-cont-cont {
  background: #FFFFFF;
  border: 1px solid #F8FBFE;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dashboard .mobile-dashboard .compo-bg-white .dashboard-cont-cont.checkBorder {
  border: 1px solid #3686FF;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dashboard .form-check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #64748B;
}
.dashboard.orange .form-check-input:checked {
  background-color: #FF9800;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 4px;
}
.dashboard.orange .form-check {
  padding: 0;
}
.dashboard.orange .form-check:after {
  display: none;
}
.dashboard .pagination-wrap {
  margin-top: 30px;
}
.dashboard .pagination-wrap.orange .page-item.active .page-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FF9800;
}
.dashboard .pagination-wrap.orange .page-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #808386;
}
.dashboard .pagination-wrap.orange .left-btn button.active,
.dashboard .pagination-wrap.orange .right-btn button.active {
  color: #FF9800;
}
.dashboard .pagination-wrap .left-btn button {
  width: 100px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #CBD5E1;
}
.dashboard .pagination-wrap .left-btn button.active {
  color: #1B4398;
}
.dashboard .pagination-wrap .right-btn button {
  width: 73px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #CBD5E1;
}
.dashboard .pagination-wrap .right-btn button.active {
  color: #1B4398;
}
.dashboard .pagination-wrap .pagination .page-item.active .page-link {
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 19px;
}
.dashboard .pagination-wrap .pagination .page-link {
  margin-right: 0;
}
.dashboard .pagination-wrap .pagination .page-link:focus {
  --tw-ring-shadow: none;
}

.orange-noti-user {
  position: relative;
}
.orange-noti-user .number-noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -11px;
  top: 0;
  background: #FF9800;
  border-radius: 100%;
  color: #fff;
  width: 23px;
  height: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  line-height: 140%;
}

.resume-regist-cont {
  padding: 30px 95px;
}
.resume-regist-cont .camera-subtit {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #A8ABAE;
  margin-top: 10px;
  margin-bottom: 50px;
}
.resume-regist-cont .camera-subtit2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #A8ABAE;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resume-regist-cont .camera-subtit2 + img {
  display: block;
  width: 120px;
}
.resume-regist-cont .form-per50-box {
  width: 50%;
}
.resume-regist-cont .form-flex-box {
  gap: 30px;
  margin-bottom: 20px;
}
.resume-regist-cont .form-flex-box select,
.resume-regist-cont .form-flex-box input,
.resume-regist-cont .form-flex-box button {
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.resume-regist-cont .form-flex-box .toggle-input {
  height: 24px;
  width: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E4E7EA;
}
.resume-regist-cont .form-flex-box .toggle-input:checked {
  background: #3686FF;
}
.resume-regist-cont .form-flex-box .toggle-input:checked:before {
  background: #fff;
  margin-left: 20px;
}
.resume-regist-cont .form-flex-box .toggle-input:before {
  background: #fff;
}
.resume-regist-cont .form-flex-box .switch-tit {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #A8ABAE;
}
.resume-regist-cont .form-flex-box .btn-age {
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F8FBFE;
  border: 1px solid #E4E7EA;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808386;
  cursor: default;
}
.resume-regist-cont .form-flex-box .box-item {
  width: 50%;
  gap: 10px;
}
.resume-regist-cont .form-flex-box .box-item textarea {
  height: 136px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.resume-regist-cont .form-flex-box .box-item2 {
  width: 100%;
  gap: 10px;
}
.resume-regist-cont .form-flex-box .form-tit {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  margin-top: 10px;
}
.resume-regist-cont .form-flex-box .form-tit span {
  color: #E11D48;
}
.resume-regist-cont .form-flex-box .form-tit .blue {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #3686FF;
  margin-left: 10px;
}
.resume-regist-cont .divider {
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background: #E4E7EA;
}
.resume-regist-cont .flex-box2-tit .box2-tit {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}
.resume-regist-cont .flex-box2-tit .box2-tit span {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E11D48;
  margin-left: 6px;
}
.resume-regist-cont .flex-box2-tit .add-btn {
  gap: 6px;
  height: auto;
  padding: 3px 10px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #3686FF;
  border: 1px solid #3686FF;
  border-radius: 12px;
}
.resume-regist-cont .flex-box2-tit .minus-btn {
  gap: 6px;
  height: auto;
  padding: 3px 10px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #A8ABAE;
  border: 1px solid #A8ABAE;
  border-radius: 12px;
}
.resume-regist-cont .flex-box2-cont {
  background: #F8FBFE;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resume-regist-cont .flex-box2-cont .box-item2 {
  margin-bottom: 20px;
}
.resume-regist-cont .flex-box2-cont .btn-flex-select {
  background: #FFFFFF;
  border: 1px solid #E4E7EA;
  border-radius: 5px;
  color: #808386;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.resume-regist-cont .flex-box2-cont .btn-register {
  border: 1px solid #3686FF;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #3686FF;
}
.resume-regist-cont .btn-flex-box {
  gap: 20px;
  margin-bottom: 50px;
}
.resume-regist-cont .btn-flex-box button {
  height: 40px;
}
.resume-regist-cont .btn-flex-box .blue-btn-wrap {
  margin-top: 0 !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 688px;
  gap: 10px;
}
.resume-regist-cont .btn-flex-box .blue-btn-wrap span:last-of-type {
  padding-left: 0 !important;
  margin-right: 0 !important;
}
.resume-regist-cont .blue-tit {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #3686FF;
}
.resume-regist-cont .blue-btn-wrap {
  margin-top: 10px;
}
.resume-regist-cont .blue-btn-wrap .blue-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDF5FF;
  border-radius: 15px;
  padding: 4px 20px;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #3686FF;
  display: block;
}
.resume-regist-cont .blue-btn-wrap .blue-btn span {
  display: inline-block;
}
.resume-regist-cont .blue-btn-wrap .blue-btn span:first-child {
  margin-right: 8px;
}
.resume-regist-cont .blue-btn-wrap .blue-btn span:last-of-type {
  padding-left: 8px;
  position: relative;
}
.resume-regist-cont .blue-btn-wrap .blue-btn span:last-of-type:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 11px;
  background: #3686FF;
}
.resume-regist-cont .blue-btn-wrap .blue-btn.no-after span:after {
  display: none;
}
.resume-regist-cont .blue-btn-wrap .blue-btn .blue-x-btn {
  margin-left: 10px;
  height: auto;
}
.resume-regist-cont .attach-wrap {
  margin-top: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  /* gap: 38px; */
  justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.resume-regist-cont .attach-wrap .attach-icon {
  width: 22px;
  height: 22px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
}
.resume-regist-cont .attach-cont-item {
  width: 254px;
}
.resume-regist-cont .attach-cont-tit {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 200px;
  word-break: break-all;
  color: #333333;
}
.resume-regist-cont .attach-cont-btn {
  height: auto;
}
.resume-regist-cont .download-btn {
  margin-top: 50px;
  width: 100%;
  gap: 10px;
}
.resume-regist-cont .download-btn button {
  gap: 10px;
  width: 50%;
}
.resume-regist-cont .download-btn + .blue-tit {
  width: 50%;
  margin-top: 10px;
  text-align: center;
}

.dropdown-basic-button {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E4E7EA;
  border-radius: 5px;
  color: #A8ABAE;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.dropdown-basic-menu {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #FFFFFF;
  border: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
  border-radius: 5px;
}
.dropdown-basic-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 14px 20px;
  border-bottom: 1px solid #E4E7EA;
  color: #808386;
}
.dropdown-basic-menu a:last-of-type {
  border-bottom: none;
}
.dropdown-basic-menu a.dropdown-item.active {
  color: #1B4398;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dropdown-basic-menu a.dropdown-item:hover {
  background: #F8FBFE;
}

.drop-type1 {
  width: 371px !important;
}

.drop-type2 {
  width: 237px !important;
}

.drop-type3 {
  width: 203px !important;
}

.drop-type4 {
  width: 790px !important;
}

.drop-type5 {
  width: 351px !important;
}

.dropdown-3 {
  width: 203px;
}

.dropdown-4 {
  width: 237px;
}

.list-group {
  background: #fff;
}

.list-group-item {
  color: #808386;
  padding: 10px 16px;
  border-bottom: 1px solid #E4E7EA;
}
.list-group-item.active {
  color: #3686FF;
  position: relative;
}
.list-group-item.active:after {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  background: url("/src/assets/images/active-icon.svg");
}
.list-group-item:last-of-type {
  border-bottom: none;
}

.modal .modal-body {
  padding: 20px;
}
.modal .modal-tit {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  text-align: left;
}
.modal .modal-subtit {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808386;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 40px;
}
.modal .modal-subtit2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808386;
}
.modal .btn {
  width: 106px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.modal .btn-report {
  width: 101px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal .report-radio-wrap .form-check {
  padding: 12px;
  border: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 4px;
}
.modal .report-radio-wrap .form-check.border {
  border: 1px solid #3686FF;
}

.select-modal .modal-dialog {
  width: 224px;
  padding: 12px 12px 8px;
}
.select-modal .modal-footer {
  padding: 8px 12px;
}
.select-modal-tit {
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  color: #94A3B8;
}
.select-modal .select-input-wrap {
  margin-top: 11px;
}
.select-modal .select-input-wrap .form-check {
  margin-top: 10px;
}
.select-modal .select-input-wrap input {
  width: 16px;
  height: 16px;
}
.select-modal .select-input-wrap label {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #475569;
}
.select-modal .sel-btn-wrap button {
  width: 55px;
  height: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.email-modal .modal-dialog {
  width: 420px;
  padding: 20px;
}
.email-modal .modal-dialog .email-modal-tit {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  text-align: left;
  margin-bottom: 30px;
}
.email-modal .modal-dialog .btn-wrap {
  margin-top: 30px;
  gap: 10px;
}

.business {
  background: #FEFCF8;
}
.business .side-nav {
  background: #FEF6EA;
}
.business .side-nav .side-menu {
  background: #fff;
}
.business .side-nav .side-menu--active {
  background: #FF9800 !important;
}
.business .side-nav .side-menu__sub-icon svg {
  stroke: #FF9800 !important;
}
.business .side-nav ul ul {
  background: #FFFBF5;
}
.business .side-nav ul ul .side-menu.side-menu--active {
  background: #FFFBF5 !important;
}
.business .side-nav ul ul .side-menu {
  background: #FFFBF5;
}
.business .dash-cont-cont3 {
  gap: 20px;
}

.minus-plus-wrap button {
  padding: 7px;
  width: auto !important;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.minus-plus-wrap button.minus-gray-btn {
  border: 1px solid #E9E9E9;
  border-radius: 5px 0px 0px 5px;
}
.minus-plus-wrap button.plus-gray-btn {
  border: 1px solid #E9E9E9;
  border-radius: 0px 5px 5px 0px;
}
.minus-plus-wrap .number-div {
  padding: 3px 10px 5px;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-wrap {
  margin-top: 80px;
  gap: 20px;
}
.login-wrap .login-left {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 813px;
}
.login-wrap .login-left img {
  display: block;
  margin-bottom: 16px;
  height: 247px;
}
.login-wrap .login-left img:last-of-type {
  margin-bottom: 0;
}
.login-wrap .login-right {
  width: 440px;
  background: #fff;
  border-radius: 10px;
  height: 813px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.login-wrap .login-right .nav .nav-link {
  background: #E4E7EA;
  border-radius: 0px 10px 0px 0px;
  color: #A8ABAE;
  font-weight: 700;
}
.login-wrap .login-right .nav .nav-link.active {
  background: #3686FF;
  border-radius: 10px 0px 0px 0px;
  color: #fff;
  font-weight: 700;
  border-color: #3686FF;
  position: relative;
}
.login-wrap .login-right .nav .nav-link.active:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -6px;
  left: -1px;
  height: 4px;
  width: 427.5px;
  background: #3686FF;
}
.login-wrap .login-right .nav .nav-item:last-child .nav-link.active {
  border-radius: 0px 10px 0px 0px;
  background: #FF9800;
  border-color: #FF9800;
}
.login-wrap .login-right .nav .nav-item:last-child .nav-link.active:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -6px;
  left: auto;
  right: -1px;
  height: 4px;
  width: 427.5px;
  background: #FF9800;
}
.login-wrap .login-right .nav .nav-item:first-child .nav-link {
  border-radius: 10px 0px 0px 0px;
}
.login-wrap .login-right .tab-content {
  padding: 50px 30px;
}
.login-wrap .login-right .tab-content .tab-pane {
  width: auto !important;
}
.login-wrap .login-right .tab-content .login-tab-tit {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #0A0A0A;
}
.login-wrap .login-right .tab-content .login-tab-subtit {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #A8ABAE;
  margin-top: 5px;
}
.login-wrap .login-right .tab-content .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 50px;
  gap: 20px;
  padding-bottom: 50px;
}
.login-wrap .login-right .tab-content .signup-wrap {
  padding: 30px 0;
  border-top: 1px solid #E4E7EA;
  border-bottom: 1px solid #E4E7EA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.login-wrap .login-right .tab-content .signup-tit {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0A0A0A;
}
.login-wrap .login-right .tab-content .ad-wrap {
  margin-top: 50px;
}
.login-wrap .login-right .tab-content .id-wrap {
  margin-top: 50px;
  gap: 20px;
}
.login-wrap .login-right .tab-content .find-wrap-login {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.login-wrap .login-right .tab-content .find-wrap-login .save-id label {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808386;
}
.login-wrap .login-right .tab-content .find-wrap-login .find-id-wrap a {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808386;
  position: relative;
}
.login-wrap .login-right .tab-content .find-wrap-login .find-id-wrap a:first-child {
  padding-right: 10px;
}
.login-wrap .login-right .tab-content .find-wrap-login .find-id-wrap a:last-child {
  padding-left: 10px;
}
.login-wrap .login-right .tab-content .find-wrap-login .find-id-wrap a:last-child:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #808386;
}

.find-wrap {
  margin-top: 184px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 50px 0;
}
.find-wrap .big-logo {
  padding-left: 20px;
}
.find-wrap .find-tit {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  text-align: center;
  margin-top: 50px;
}
.find-wrap .find-subtit {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #0A0A0A;
  margin-top: 50px;
}
.find-wrap .find-email {
  margin-top: 50px;
  width: 380px;
}
.find-wrap .find-btn {
  margin-top: 30px;
}
.find-wrap .find-btn button,
.find-wrap .find-btn a {
  width: 380px;
}
.find-wrap .find-btn .button-wrap {
  gap: 16px;
  width: 132px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.find-wrap .find-result-tit {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  margin-top: 50px;
}
.find-wrap .find-result-tit.orange span {
  color: #FF9800;
}
.find-wrap .find-result-tit span {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #3686FF;
}
.find-wrap .find-pwd-subtit {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  margin-top: 10px;
}
.find-wrap .find-det {
  margin-top: 50px;
  padding: 20px 73px;
  background: #F8FBFE;
  border: 1px solid #E4E7EA;
  border-radius: 10px;
}
.find-wrap .find-det .find-det-item .det-tit {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  width: 72px;
  color: #333333;
}
.find-wrap .find-det .find-det-item .det-cont {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}
.find-wrap .find-result-subtit {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #A8ABAE;
  margin-top: 30px;
}
.find-wrap .find-result-subtit a {
  border-bottom: 1px solid #A8ABAE;
}
.find-wrap .pwd-change-wrap {
  margin-top: 50px;
}
.find-wrap .pwd-change-wrap input {
  width: 380px;
}
.find-wrap .pwd-change-wrap .input-det {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF9800;
  margin-top: 10px;
  margin-bottom: 20px;
}
.find-wrap .signup-subtit {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #A8ABAE;
  margin-top: 4px;
}
.find-wrap .term-wrap {
  width: 380px;
}
.find-wrap .term-wrap .term-div {
  padding: 10px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #A8ABAE;
  border-top: 1px solid #E4E7EA;
  border-bottom: 1px solid #E4E7EA;
  margin-top: 10px;
  height: 88px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.find-wrap .term-wrap .term-div::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
}
.find-wrap .term-tit {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #0A0A0A;
  margin-bottom: 30px;
}
.find-wrap .term-check {
  width: 380px;
  text-align: left;
  margin-top: 10px;
}
.find-wrap .term-check label {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808386;
}
.find-wrap .term-subtit {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #0A0A0A;
  text-align: left;
  width: 380px;
  margin: 20px auto 0;
}

#business.user-guide-business.employee .guide-table .bg1 {
  background: #3686FF;
}

#business.user-guide-business.employee .guide-table th,
#business.user-guide-business.employee .guide-table td {
  border-color: #599BFF !important;
}

#business.user-guide-business.employee .guide-table .bg2 {
  border-color: #CDE1FF;
  background: #DBEAFE;
  color: #3686FF !important;
}

#business.user-guide-business.employee .guide-table .bg3 {
  background: #91C0FF;
  color: #1B4398 !important;
}

@media (max-width: 1024px) {
  :root {
    --white: #fff;
    --so-white: #fff;
  }
}

@media (max-width: 1024px) {
  .content {
    min-height: auto;
  }
}

@media (max-width: 1024px) {
  .top_header {
    padding: 13px 0;
  }
}
.top_header .mo-top-point {
  padding: 2px 6px;
  background: #3686FF;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.top_header .mo-top-point span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.mobile-ham-modal-left {
  background: #808386;
}
.mobile-ham-modal-left .modal-dialog {
  width: 95%;
  -webkit-transition: margin-left 0.6s !important;
  transition: margin-left 0.6s !important;
  margin-right: auto !important;
  margin-left: 0;
}
.mobile-ham-modal-left .modal-dialog .mo-ham-logo {
  width: 80px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mobile-ham-modal-left .modal-dialog .modal-header {
  background: #FFFFFF;
  padding: 16px;
  border-bottom: 1px solid #E4E7EA;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.mobile-ham-modal-left .modal-dialog .mobile-nav li a {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #E4E7EA;
}

.mobile-resume-wrap {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-resume-wrap {
    display: block;
  }
}
.mobile-resume-wrap .prog-wrap {
  width: 100%;
}
.mobile-resume-wrap .prog-bar-tit {
  margin-bottom: 4px;
}
.mobile-resume-wrap .prog-bar-tit .prog-percent {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #A8ABAE;
}
.mobile-resume-wrap .prog-bar-tit .percent {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #A8ABAE;
}
.mobile-resume-wrap .prog-bar-tit .percent span {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #A8ABAE;
}
.mobile-resume-wrap .progress {
  height: 12px;
  background: #E4E7EA;
  border-radius: 6px;
}
.mobile-resume-wrap .progress .progress-bar {
  border-radius: 6px;
}
.mobile-resume-wrap .mo-resume-tit {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  padding-top: 30px;
}
.mobile-resume-wrap .mo-resume-subtit {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #A8ABAE;
  margin-top: 8px;
}
.mobile-resume-wrap .dropdown button {
  height: 44px;
}
.mobile-resume-wrap .dropdown.dropdown-type-gray button {
  background: #F9F9F9;
  border: 1px solid #E4E7EA;
  border-radius: 5px;
  color: #A8ABAE;
}
.mobile-resume-wrap .dropdown.dropdown-type-gray2 button {
  background: #FFFFFF;
  border: 1px solid #E4E7EA;
  border-radius: 5px;
  color: #A8ABAE;
}
.mobile-resume-wrap .dropdown.dropdown-type-black button {
  color: #333;
}
.mobile-resume-wrap .mobile-drop-wrap {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 10px;
}
.mobile-resume-wrap .mobile-drop-wrap input {
  height: 44px;
}
.mobile-resume-wrap .mobile-drop-wrap .drop-left-tit {
  min-width: 75px;
}
.mobile-resume-wrap .mobile-drop-wrap .drop-right-cont {
  width: 100%;
}
.mobile-resume-wrap .mobile-drop-wrap .drop-right-cont .dropdown {
  width: 100%;
}
.mobile-resume-wrap .mobile-drop-wrap .btn-role-select {
  min-width: 67px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  padding: 6px 10px;
}
.mobile-resume-wrap .mobile-drop-wrap .incharge-select {
  margin-top: 20px;
}
.mobile-resume-wrap .mobile-drop-wrap .incharge-select .incharge-tit {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}
.mobile-resume-wrap .mobile-drop-wrap .blue-btn-wrap {
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 10px;
}
.mobile-resume-wrap .mobile-drop-wrap .blue-btn-wrap .blue-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDF5FF;
  border-radius: 15px;
  padding: 5px 19px;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #3686FF;
  display: flex;
  box-sizing: border-box;
}
.mobile-resume-wrap .mobile-drop-wrap .blue-btn-wrap .blue-btn.no-after span:after {
  display: none;
}
.mobile-resume-wrap .mobile-drop-wrap .blue-btn-wrap .blue-btn .blue-x-btn {
  margin-left: 10px;
  height: auto;
}
.mobile-resume-wrap .mobile-select-box {
  margin-top: 20px;
}
.mobile-resume-wrap .mobile-select-box select {
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #A8ABAE;
}
.mobile-resume-wrap .toggle-wrap label {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #A8ABAE;
}
.mobile-resume-wrap .toggle-wrap input {
  width: 44px;
  height: 24px;
  margin-top: 3px;
  background: #E4E7EA;
  border-radius: 16px;
}
.mobile-resume-wrap .toggle-wrap input:before {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.16);
          box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.16);
}
.mobile-resume-wrap .toggle-wrap .form-switch .form-check-input:checked::before {
  margin-left: 20px;
}
.mobile-resume-wrap .add-career-btn {
  background: #FFFFFF;
  border: 1px solid #3686FF;
  border-radius: 15px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #3686FF;
  height: 30px;
  width: 105px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 6px;
}
.mobile-resume-wrap .career-box {
  padding: 18px 20px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.mobile-resume-wrap .career-box-subtit {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #808386;
}
.mobile-resume-wrap .career-box-incharge {
  margin-top: 19px;
}
.mobile-resume-wrap .career-box-incharge .career-box-incharge-tit {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #333333;
}
.mobile-resume-wrap .career-box-incharge .career-box-incharge-cont {
  margin-top: 10px;
  background: #EDF5FF;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.mobile-resume-wrap .career-box-incharge .career-box-incharge-cont span {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #3686FF;
}
.mobile-resume-wrap .setting-wrap button {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
}
.mobile-resume-wrap .lang-search-box {
  background: #F8FBFE;
  border-radius: 10px;
  padding: 20px;
}
.mobile-resume-wrap .search-table {
  margin-top: 10px;
  border: 1px solid #E4E7EA;
  border-radius: 5px;
  background: #FFFFFF;
}
.mobile-resume-wrap .search-table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #808386;
  gap: 30px;
}
.mobile-resume-wrap .search-table-item .search-table-tit {
  min-width: 75px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #808386;
}
.mobile-resume-wrap .search-table-item .search-table-cont {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #808386;
  width: 100%;
}
.mobile-resume-wrap .search-table-item.select .search-table-tit,
.mobile-resume-wrap .search-table-item.select .search-table-cont {
  color: #3686FF;
}
.mobile-resume-wrap .search-table-item.select .search-table-cont {
  position: relative;
}
.mobile-resume-wrap .search-table-item.select .search-table-cont:after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/public/images/checkbox-type-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.mo-dropdown-menu {
  margin-left: 16px;
}

.mobile-bottom {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 16px;
}
@media (max-width: 1024px) {
  .mobile-bottom {
    display: block;
  }
}
.mobile-bottom .bottom-btn {
  width: 100%;
}
.mobile-bottom button {
  height: 40px;
}

.mo-sel-btn-wrap button {
  width: 100% !important;
  height: 30px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 140% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.mo-select-modal .modal-footer {
  padding: 10px 20px 20px;
}

.popover-body .setting-select-mo {
  width: 63px;
  border: 1px solid #E4E7EA;
  border-radius: 5px;
  background: #fff;
}
.popover-body .setting-select-mo .setting-select-item {
  text-align: center;
  padding: 7px 0;
}
.popover-body .setting-select-mo .setting-select-item:last-child {
  border-top: 1px solid #E4E7EA;
}

.period-wrap .btn-skyblue2 {
  height: 44px;
}
